<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Chat</div>
                    <div class="card-body">
                        <div class="row p-2">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12 border rounded-lg p-3">
                                        <ul class="list-unstyled overflow-auto" style="height:45vh;">
                                            <li :key="i" v-for="(message, i) in messages"> 
                                                <b>{{ message.user.name }}:</b>  {{ message.text }} 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <form @submit.prevent="messageSent">
                                    <div class="row py-3">
                                        <div class="col-10">
                                            <input type="text" name="message" v-model="message" class="form-control" />
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn  btn-primary btn-block"> Enviar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 border rounded-lg p-3">
                                <p><b>Usuarios en linea:</b></p>
                                <ul class="list-unstyled overflow-auto text-info" style="height:45vh;">
                                    <li :key="i" v-for="(user, i) in users" @click="greetUser(user.id)" class="user">
                                        {{ user.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
  </div>
</template>

<script>
export default {
    data:()=>{
        return {
            users:[],
            messages:[],
            message:'',
        }
    },
    props:{
        id:''
    },
    created(){
        Echo.join('channel-chat')
            .here( (users)=>{
                this.users = users
            })
            .joining( (user)=>{ // usuario se integro al chat
                let index = this.findUser(user.id)
                if ( index < 0) {
                    this.users.push(user)
                }
            })
            .leaving( (user)=>{ // usuario se salio del chat
                let index = this.findUser(user.id)
                if ( index >= 0) {
                    this.$delete(this.users, index)
                }
            })
            .listen('MessageSent', (e)=> {
                this.messages.push( { user:e.user, text:e.message } )
            })

        Echo.private('channel-chat.greet.'+this.id)
            .listen('GreetingSent', (e)=>{
                this.messages.push( { user:{name:'Saludo'}, text:e.message } )
            })
    },
    methods:{
        findUser(id) {
            return this.users.findIndex((user)=>{
                return id == user.id
            })
        },
        messageSent() {
            if ( this.message ) {
                axios.post('/chat/message', { message:this.message }).then( (response)=>{
                    if ( response.status == 200 ) {
                        console.log("correcto");
                    }
                    this.message = ""
                }).catch( (error)=> {
                    console.error(error)
                })
            }
        },
        greetUser(id) {
            axios.post('/chat/greet/'+id, ).then( (response)=>{
                if ( response.status == 200 ) {
                    console.log("correcto", response);
                }
            }).catch( (error)=> {
                console.error(error)
            })
        }
    }
}
</script>

<style>
.user {
    font-size: 13px;
}
.user:hover{
    cursor: pointer;
    font-weight: bold;
}
</style>