<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Ruleta</div>
                    <div class="card-body text-center">
                        <img id="ruleta" class="img-circle refresh_text"  src="img/circle.png" alt="">
                        <p class="display-1 d-none text-primary">10</p>
                        <p class="h1 text-center text-primary" v-show="result">
                            {{ result }}
                        </p>
                        <hr>
                        <div class="text-center">
                            <label for="h5"> Apuesta </label>
                            <select v-model="bet">
                                <option value=""> No apuesto</option>
                                <option :key="op"  v-for="op in 10" :value="op"> {{ op }} </option>
                            </select>
                        </div>
                        <hr>
                        <div class="text-center">
                            Tiempo restante {{ time }}
                        </div>
                        <hr>
                        <div class="h1 text-center text-primary" v-show="result == bet && finish">
                            Eres ganador :D
                        </div>
                        <div class="h1 text-center text-danger" v-show="result != bet && finish">
                            Eres perdedor  :(
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data:()=>{
        return {
            bet:'',
            time:'',
            result:'',
            finish:false
        }
    },
    created() {
        Echo.channel('channel-game')
            .listen('RemainingTimeChanged', (e)=>{
                this.time = e.time
                $('#ruleta').addClass('refresh');
            })            
            .listen('WinnerNumberGenerate', (e)=> {
                this.result = e.number
                this.finish = true
                $('#ruleta').removeClass('refresh');
                setTimeout( ()=> {
                    this.finish = false
                    this.result = ''
                },5000)
            })
    }
}
</script>

<style lang="css">
.img-circle {
    width: 350px;
    height: 350px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);;
    }
    to{
        transform: rotate(360deg);;
    }
}
.refresh {
    animation: rotate 2s linear infinite;
}
</style>