<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Lista de usuarios</div>
                    <div class="card-body">
                        <ul>
                            <li :key="'u'+index" v-for="(user, index) in users">
                                {{ user.name }} :  {{ user.email }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data:()=>{
            return {
                users:[]
            }
        },
        created() {
            this.loadingUser()
            Echo.channel('channel-users')
                .listen('UserCreated', (e)=>{
                    this.users.push(e.user)
                })            
                .listen('UserUpdated', (e)=>{
                    console.log(e)
                    let index = this.findUser(e.user.id)
                    if ( index >= 0) {
                        this.$set(this.users,index, e.user)
                    }
                })            
                .listen('UserDeleted', (e)=>{
                    let index = this.findUser(e.user.id)
                    if ( index >= 0) {
                        this.$delete(this.users, index)
                    }
                })            
        },
        methods:{
            loadingUser () {
                axios.get('api/users').then( (response)=> {
                    if (response.status == 200) {
                        this.users = response.data
                    }
                }).catch( (error)=>{
                    console.error(error)
                })
            },
            findUser(id) {
                return this.users.findIndex((user)=>{
                    return id == user.id
                })
            }
        }
    }
</script>
